/* Button */
.empfehl-o-mat {
    text-align: center;
}

.start-button {
    background-color: lightgreen;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button {
    background-color: lightgreen;
    margin-right: 10px;
    border-radius: 5px;
}

.button:hover {
    background-color: green;
    color: white;
}
